@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --a: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  width: 75vw;
  position: relative;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 15px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.bg-grey {
  background-color: rgb(18 18 18);
}

.heading {
  display: flex;
  gap: 15px;
  /* width: 100%; */
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 30px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  color: white;
  gap: 13px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.footer a {
  color: grey;
}

.right {
  margin: 15px 0px;
  margin-right: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  height: 78px;
}

.header > * {
  padding: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.close {
  width: 0;
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.spotifyPlaylists {
  padding: 16px;
}

.cardContainer {
  display: flex;
  gap: 10px;
  margin: 30px 0;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 60vh;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  background-color: #252525;
  transition: all 0.9s;
  position: relative;
}

.card:hover {
  cursor: pointer;
  background-color: #3b3b3b;
  --a: 1;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.play {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play > svg {
  position: absolute;
  bottom: 120px;
  right: 18px;
  opacity: var(--a);
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  color: rgb(168, 168, 168);
  background-color: rgb(34, 34, 34);
  font-weight: bold;
  border: none;
  font-size: 15px;
  padding: 10px;
}

.signupbtn:hover {
  /* font-size: 16px; */
  color: white;
}

.loginbtn {
  font-size: 15px;
  background-color: white;
  border-radius: 40px;
  color: black;
  border: none;
  padding: 10px;
  width: 80px;
  cursor: pointer;
}

.loginbtn:hover {
  font-weight: bold;
  /* font-weight: 1000; */
  /* font-size: 17px; */
}

.playbar {
  /* position: absolute; */
  position: fixed;
  bottom: 30px;
  filter: invert(1);
  background-color: #e2d9d9;
  /* width: 97%; */
  width: 70vw;
  padding: 12px;
  border-radius: 10px;
  margin: 5px 5px 5px 8px;
  height: 39px;
  /* padding: 6px; */
  padding-bottom: 14px;
}

.songbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.songslist {
  height: 644px;
  overflow: auto;
  margin: 0 0 44px 0;
}
.songslist ul {
  padding: 0 12px;
  overflow: hidden;
}

.songslist > ul > li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 12px 0;
  padding: 13px;
  border-radius: 5px;
  overflow: hidden;
}

.songslist .info :first-child {
  width: 210px;
  height: 20px;
  overflow: hidden;
}

.info div {
  word-break: break-all;
}

/* .songslist .info{
  font-size: 14px;
  } */

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 10px; */
}
.playnow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}

.seekbar {
  height: 4px;
  width: 98%;
  background-color: black;
  position: absolute;
  bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 4px;
}

.circle {
  position: absolute;
  top: -6px;
  height: 12px;
  width: 12px;
  background-color: black;
  border: 1px solid black;
  border-radius: 100%;
  left: 0%;
  transition: left 0.5s ease-in-out;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songbuttons {
  height: 18px;
  width: 350px;
  cursor: pointer;
  position: relative;
}

.songinfo {
  color: #000000;
  height: 23px;
  width: 350px;
  overflow: hidden;
}

.songtime {
  height: 18px;
  width: 118px;
  display: flex;
  justify-content: end;
  color: #000000;
}

.durvol {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 350px;
  gap: 10px;
}

.volume {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 6px;
  cursor: pointer;
  /* flex-direction: column; */
}

.volume .range {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  filter: invert(1);
}

.range input {
  width: 80px;
  cursor: pointer;
}

@media (max-width: 1550px) {
  .left {
    width: 433px;
    /* width: 100vw; */
    height: 100vh;
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 1;
    background-color: black;
  }

  .songslist .info :first-child {
    width: 170px;
    height: 40px;
  }

  .right {
    width: 100vw;
    margin-left: 8px;
  }

  .playbar {
    width: calc(100vw - 84px);
    /* width: 88vw; */
    /* margin: 5px 5px 5px -13px; */
  }

  .seekbar {
    width: calc(100vw - 84px);
    /* width: 87vw; */
  }

  .hamburger {
    display: block;
  }

  .close {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    justify-content: end;
    cursor: pointer;
  }
}

@media (max-width: 550px) {
  .left {
    /* width: 390px; */
    width: 100vw;
    padding: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: scroll;
    scrollbar-width: none;
  }

  .songslist > ul > li {
    gap: 7px;
  }

  .card {
    width: 96vw;
    /* width: 69vw; */
    border-radius: 0px;
  }

  .card img {
    border-radius: 0px;
  }

  .cardContainer {
    justify-content: center;
    margin: 16px 0;
    scrollbar-width: none;
    max-height: 100vh;
    margin-bottom: 30vh;
  }

  .right {
    margin: 0px;
  }

  .header {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .spotifyPlaylists > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
  }

  .spotifyPlaylists {
    padding: 0px;
  }

  .playbar {
    width: calc(100vw - 60px);
    margin: 5px 5px 5px 19px;
    height: 125px;
  }

  .seekbar {
    width: calc(100vw - 60px);
  }

  .songinfo {
    display: flex;
    justify-content: center;
  }

  .songbuttons {
    display: flex;
    justify-content: center;
  }

  .songtime {
    display: flex;
    justify-content: center;
  }

  .abovebar {
    flex-direction: column;
    gap: 12px;
    margin-top: 3px;
  }

  .durvol {
    justify-content: center;
    gap: 0px;
  }

  .durvol {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .play > svg {
    bottom: 95px;
    right: 22px;
  }
}

@media (max-width: 375px) {
  .left {
    left: -470%;
    /* width: 220px; */
    width: 100vw;
  }

  .header > * {
    padding: 2px 10px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .buttons > * {
    margin: 0px 6px;
  }

  .signupbtn {
    width: 72px;
  }
  /* 
  .playnow img{
    opacity: 0;
    } */

  .playnow span {
    font-size: 15px;
    width: 40px;
    margin-left: 5px;
  }
}

@media (width: 360px) {
  .songslist > ul > li {
        gap: 15px;
    }
}
