.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px ;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* Scrollbar size */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Remove arrows */
::-webkit-scrollbar-button {
  display: none;
}

